<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	</head>
	<body>
		<div>
		
			<form action="/salvarpessoa" id="formpessoa" method="post" th:object="${pessoaobj}">
				
				<div>
					<label>ID</label>	
					<input name="id" th:field="*{id}" id="id" readonly="readonly">
				
					<label>Nome</label>
					<input name="nome" th:field="*{nome}" id="nome" class="validate" type="text">
				</div>
				
				<div>
					<label>Sobrenome</label>
					<input name="sobrenome" class="validate" th:field="*{sobrenome}" id="sobrenome">
				</div>
				
				<div>
					<label>Idade</label>
					<input name="idade" th:field="*{idade}" id="idade" class="validate">
				</div>
				<div>
					<input type="submit" value="Salvar">
					<button onclick="document.gtElementById('formpessoa').reset();">Novo</button>
				</div>
				
			</form>
		</div>
		<br />
		<br />
		<div>
			<form action="pesquisarpessoa" method="post">
				<label>Pesquisar por nome:</label>
				<input name="nomepesquisa">
				<input type="submit" value="Buscar">
				<a href="/listapessoas">Lista Pessoas</a>
			</form>
		</div>
		<br />
		<br /> 
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Sobrenome</th>
					<th>Idade</th>
					<th>Editar</th>
					<th>Excluir</th>
				</tr>
			</thead>
			  <tr th:each = "pessoa : ${pessoas}">
			   	<td th:text = "${pessoa.id}"></td>
			   	<td th:text = "${pessoa.nome}"></td>
			   	<td th:text = "${pessoa.sobrenome}"></td>
			   	<td th:text = "${pessoa.idade}"></td>
			   	<td><a th:href="@{/editarpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Editar</a> </td>
   				<td><a th:href="@{/removerpessoa/{idpessoa}(idpessoa=${pessoa.id})}">Excluir</a> </td>
			  </tr>
		</table>
	</body>
</html>